//
// Colors
//
// These are the primary colors used throughout the projects
//

$white:         #fff !default;
$black:         #000 !default;
$light-grey:    #EBEBEB !default;
$light-blue:    #BADCE9 !default;
$dark-blue:     #4389C2 !default;
$cool-orange:   #FFA80D !default;

$primary-color: $dark-blue !default;
$secondary-color: $cool-orange !default;

$alert-color: #f04124 !default;
$success-color: #43AC6A !default;
$warning-color: #f08a24 !default;
$info-color: #a0d3e8 !default;
