@import "functions";
@import "colors";

//
// Global Variables
//

// $debug - set true to activate things like '.grid'
$debug: false;

$base-font-size: 100% !default;
$base-line-height: 150% !default;

// body styles
$body-bg: #fff !default;
$body-font-color: #222 !default;
$body-font-family: source-sans-pro, Helvetica, Arial, sans-serif !default;
$body-font-weight: normal !default;
$body-font-style: normal !default;

$font-smoothing: antialiased !default;

// radius definitions
$global-radius: 3px !default;
$global-rounded: 1000px !default;

// cursor values
$cursor-crosshair-value: crosshair !default;
$cursor-default-value: default !default;
$cursor-pointer-value: pointer !default;
$cursor-help-value: help !default;
$cursor-text-value: text !default;


//
// Global mixins and placeholders
//

// add a grid using gradient background to check vertical rhythm of typography
%background-grid {
  background-image: -webkit-linear-gradient(#eee .05em, transparent .05em);
  background-image:    -moz-linear-gradient(#eee 1px, transparent 1px);
  background-image:     -ms-linear-gradient(#eee 1px, transparent 1px);
  background-image:      -o-linear-gradient(#eee 1px, transparent 1px);
  background-image:         linear-gradient(#eee 1px, transparent 1px);
  background-size: 100% 1.5em;
}
.grid {
  @if $debug == true { @extend %background-grid; }
}
