//
// Global variables
//
$frame-border-radius:       em-calc(25px) !default;
$frame-padding-top-bottom:  em-calc(50px) !default;
$frame-padding-left-right:  em-calc(5px) !default;
$frame-bg-color:            $light-grey !default;
$frame-shadow:              0 0 0 1px darken($light-grey, 15%) !default;

// Inner rectangles for the frame
$frame-inner-rectangle-width:   35px !default;
$frame-inner-rectangle-margin:  20px !default;

$screen-width:            em-calc(280px) !default;
$screen-height:           em-calc(460px) !default;
$screen-margin:           0 auto !default;
$screen-bg-color:         whitesmoke !default;
$screen-font-color:       $white !default;
$screen-shadow:           $frame-shadow !default;
$screen-elements-padding: 3% !default;

// Screen header
$screen-header-bg-color:      $flat-blue !default;
$screen-header-height:        12% !default;
$screen-header-icon-spacing:  3% !default;

// Screen main
$screen-article-height:         20% !default;
$screen-article-border-bottom:  $light-grey 2px solid !default;

$animations-on: true !default;

//
// mixins, helpers, etc
//
@import "mixins";
@import "animations";


.iphone .frame {
  @include frame-base {
    width: $screen-width;
    height: $screen-height;
    position: relative;
  };

  &:before, &:after {
    content: '';
    position: absolute;
    left: 45%;
    width: 3em;
    background-color: darken($frame-bg-color, 20%);
    text-align: left;
  }
  &:before {
    @include border-radius($frame-border-radius);
    height: .7em;
    top: 4%;
  }
  &:after {
    @include border-radius(50%);
    width: 2.5em;
    height: 2.5em;
    bottom: 1.5%;
  }

}

.iphone .screen {
  @include screen-base{ position: relative; height: 100%; };

  // Styling for the header of the app-demo screen
  & .header {
    background-color: $screen-header-bg-color;
    height: $screen-header-height;

    h3 {
      color: $screen-font-color;
      text-transform: uppercase;
      font-weight: bold;
      &:before {
        @extend %bars-icon;
        position: absolute;
        left: $screen-header-icon-spacing;
      }
      &:after {
        @extend %plus-icon;
        position: absolute;
        right: $screen-header-icon-spacing;
      }
    }
  }
}

// Styling for the main content of the app-demo screen
main.content {
  position: relative;
  height: (100% - $screen-header-height);
  overflow: hidden;

  article {
    position: relative;
    width: 100%;
    height: $screen-article-height;
    padding: $screen-elements-padding;
    border-bottom: $screen-article-border-bottom;

    img { @include border-radius(50%); height: 100%; }
    .details {
      position: relative;
      float: right;
      width: 79%;
      margin-left: 1%;
      text-align: left;
      h5 { font-weight: bold; }
    }

    &.options {
      position: absolute;
      margin-left: -100%;
      padding: 0;
      border: none;
      z-index: 1;

      span {
        position: relative;
        float: left;
        width: 30%;
        height: 100%;
        color: white;

        &:after {
          font-size: 1.5em;
          position: relative;
          top: 30%;
        }
        &:nth-of-type(1) {
          background-color: $flat-green;
          &:after { @extend %reply-icon; }
        }
        &:nth-of-type(2) {
          background-color: $flat-red;
          &:after { @extend %trash-icon; }
        }
        &:nth-of-type(3) {
          background-color: lighten($flat-black, 15%);
          &:after { @extend %retweet-icon; }
        }
        &:nth-of-type(4) {
          width: 10%;
          background-color: $flat-black;
          &:after { @extend %back-arrow-icon; }
        }
      }
    }
  }

  // Animations that will trigger when .animate is present
  @if $animations-on {
    .animate & {
      .options {
        @extend %animate-message-options;

        & .reply { @extend %animate-click-reply;}
      }
    }
  }
}

// Secondary screens styling
section.secondary-screens {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  article {
    position: absolute;
    height: 100%;
    bottom: -100%;
    padding: $screen-elements-padding;
    color: $white;
    text-align: left;

    &.reply-letter {
      background-color: lighten($flat-black, 15%);
      z-index: 2;

      h6 { color: white;        font-weight: bold;}
      .textbox {
        height: 40%;
        border: 1px solid whitesmoke;
        margin-top: 5%; padding:
        $screen-elements-padding / 2;
      }
      .button { margin-top: 5%; width: 100%; }
    }

    &.letter-sent {
      z-index: 3;
      background-color: rgba($flat-green, .95);
      text-align: center;
      h1 {
        position: relative;
        top: 35%;
        color: $white;
        font-weight: bold;
        &:before { @extend %check-circle-icon; margin-right: 5%; }
      }
    }
  }

  // Animations that will trigger when .animate is present
  @if $animations-on {
    .animate & {
      .reply-letter {
        @extend %animate-reply-box;
        .button { @extend %animate-click-send; }
      }
      .letter-sent { @extend %animate-letter-sent; }
    }
  }
}