@import "../globals";

// Used to build padding for the buttons
$button-small: em-calc(16px) !default;
$button-medium: em-calc(18px) !default;
$button-large: em-calc(20px) !default;

// Display properties
$button-display: inline-block;
$button-margin-bottom: em-calc(20px) !default;

// Text styles
$button-font-family: $body-font-family !default;
$button-font-color: #fff !default;
$button-font-color-alt: #333 !default;
$button-font-small: em-calc(17px) !default;
$button-font-medium: em-calc(19px) !default;
$button-font-large: em-calc(21px) !default;
$button-font-weight: bold !default;
$button-font-align: center !default;
$button-font-letter-spacing: 1px !default;

// Border styles
$button-border-width: 0 !default;
$button-border-style: none !default;
$button-border-color: white !default;

// Border radius
$button-radius: $global-radius !default;
$button-round: $global-radius !default;

// Opacity
$button-disabled-opacity: 0.7 !default;

// Button specific
$save-action-color: $success-color !default;
$cancel-action-color: $warning-color !default;


// Custom button extends and mixins
// -----------------------------------------------------------------------
@import "buttons/mixins";
@import "buttons/extends";


button, .button {
  @include button-base;
  @include button-size;
  @include button-style;

  @include single-transition(background-color, 0.2s, ease-in);

  &.secondary { @include button-style($secondary-color); }
  &.success { @include button-style($bg: $success-color); }
  &.alert { @include button-style($bg: $alert-color); }


  &.small {
    @include button-size($button-small);
  }
  &.large {
    @include button-size($button-large);
  }

  &.disabled, &[disabled] {
    @include button-style($bg:$primary-color, $disabled:true);
    &.secondary { @include button-style($bg:$secondary-color, $disabled:true); }
    &.success { @include button-style($bg:$success-color, $disabled:true); }
    &.alert { @include button-style($bg:$alert-color, $disabled:true); }
  }
}

form button {
  display: block;
  margin-top: $button-margin-bottom;
}