// Mixins and extends
// -----------------------------------------------------------------------

// A base header style
//
// $image-url - Background image for the header. Default: $header-bg-image-url || "junk-mail.jpeg"
// $gradient-color - Color to be scaled for the background linear gradient: Default: $dark-blue
//
@mixin header-base($image-url: $header-bg-image-url, $gradient-color: $dark-blue) {
  $gradient-color: rgba($gradient-color, .7);

  @include background-image(
      linear-gradient(top, $gradient-color, $gradient-color),
      image-url($image-url)
  );

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: $header-height;
}