//
//Global variables to the landing page
//
$header-bg-color: $primary-color !default;
$header-bg-image-url: "junk-mail.jpeg" !default;
$header-height: 100% !default;

$slide-height: $header-height !default;

// Susy settings for responsive grids
$total-columns  : 12 !default;
$column-width   : 5em !default;
$gutter-width   : 1em !default;
$grid-padding   : $gutter-width !default;

$border-box-sizing  : true;

// Media Query Breakpoints
//
// Use this format ${class-name}-breakpoint: $media-layout
//    - class-name - name of the class because of which the breakpoint is activated
//    - $media-layout - see Susy docs for Media-Layouts
$phone-breakpoint: 6 em-calc(420px);


//
// Landing Page mixins, placehoders, modules and UI components
//
@import "mixins";

body header {
  @include slide-base;
  @include slide-background-image;

  // Add some padding at the top and bottom
  @extend %important-padding;

  text-align: center;
  background-attachment: fixed;

  h1, h2 { color: $white; }
  h1 {
    @include adjust-font-size-to($h1-font-size * 1.5);

    &.important { @include adjust-font-size-to($h1-font-size * 2); }
    &.title:after {
      content: 'PostalBit';
      border-bottom: 1px whitesmoke solid;
    }
  }
}

.slide {
  @include slide-base;
  @include slide-style;

  text-align: center;

  .container { @include container; }

  &.orange { @include slide-style($background-color: $secondary-color); }
  &.dark { @include slide-style($background-color: lighten($black, 10%), $text-color: $white); }
  &.brown { @include slide-style($background-color: $dark-brown); }

  // Content specific styles
  &.first {
    h3 { @include adjust-leading-to(0.8); }
    .clock { @include span-columns(4, 12); }
    .direct-mail-fact { @include span-columns(8 omega, 12); }
  }
  &.second {
    .text {
      @include span-columns(6, 12);
      @include at-breakpoint($phone-breakpoint) {
        @include span-columns(6 omega);
        background-color: red;
      }
    }
    .laptop {
      @include span-columns(6 omega, 12);
      @include at-breakpoint($phone-breakpoint) {
        @include span-columns(6 omega);
        background-color: blue;
      }
    }
  }
  &.third {
    h2, h3 { color: $white; }
    .phone {
      @include span-columns(4, 12);
      @include padding-leader;
      @include padding-trailer;
      @include at-breakpoint($phone-breakpoint) { @include span-columns(6 omega); }
    }
    .text {
      @include span-columns(8 omega, 12);
      @include at-breakpoint($phone-breakpoint) {
        @include span-columns(6 omega);
        background-color: blue;
      }
    }
  }
  &.fourth {
    @include padding-trailer;
  }
}

@include at-breakpoint($phone-breakpoint) {
  html, body { font-size: 12px; }
}