//
//Global variables to the landing page
//
$header-bg-color: $primary-color !default;
$header-height: 100% !default;

$header-bg-image-url: "junk-mail.jpeg" !default;

$slide-height: $header-height !default;

// Susy settings for responsive grids
$total-columns  : 12 !default;
$column-width   : 5em !default;
$gutter-width   : 1em !default;
$grid-padding   : $gutter-width !default;

//
// Landing Page mixins, placehoders, modules and UI components
//
@import "mixins";

header {
  @include slide-base;
  @include slide-background-image;

  h1, h2 {
    color: $white;
  }
  .container {
    @include container;

    text-align: center;

    h1 {
      @include adjust-font-size-to($h1-font-size * 1.5);

      &.important { @include adjust-font-size-to($h1-font-size * 2); }
      &.title:after {
        content: 'PostalBit';
        border-bottom: 1px whitesmoke solid;
      }
    }
  }
}

.slide {
  @include slide-base;
  @include slide-style;

  text-align: center;

  .container { @include container; }

  &.orange { @include slide-style($background-color: $secondary-color); }
  &.dark { @include slide-style($background-color: lighten($black, 10%), $text-color: $white); }
  &.brown { @include slide-style($background-color: $dark-brown); }

  // Content specific styles
  &.first {
    h3 { @include adjust-leading-to(0.8); }
    .clock { @include span-columns(4, 12); }
    .direct-mail-fact { @include span-columns(8 omega, 12); }
  }
  &.second {
    .text { @include span-columns(6, 12); }
    .laptop { @include span-columns(6 omega, 12); }
  }
  &.third {
    h2, h3 { color: $white; }
    .phone {
      @include span-columns(4, 12);
      @include leader(3);
    }
    .text { @include span-columns(8 omega, 12); }
  }
  &.fourth {
    @include padding-leader(2);
    @include padding-trailer(2);
  }
}

