// Custom button mixins
// -----------------------------------------------------------------------


//
// Used to create a default button base
//
// $style - Sets base styles if true. Default: true.
// $display - Used to control display property. Default: $button-display || inline-block
//

@mixin button-base($style: true, $display: $button-display, $uppercase: true) {
  @if $style {
    border-style: $button-border-style;
    border-width: $button-border-width;
    cursor: $cursor-pointer-value;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    line-height: normal;
    margin: 0 0 $button-margin-bottom;
    position: relative;
    text-decoration: none;
    text-align: $button-font-align;
    letter-spacing: $button-font-letter-spacing;
    @if $uppercase { text-transform: uppercase; }

  }
  @if $display { display: $display; }
}

//
// Used to add button size styles
//
// $padding - padding size for the button. Default: $button-medium ||= em-calc(18px)

@mixin button-size($padding: $button-medium) {
  padding: ($padding / 2) ($padding * 1.5);

  // font-size is determined based on mixing input
  @if $padding == $button-medium { font-size: $button-font-medium; }
  @else if $padding == $button-small { font-size: $button-font-small; }
  @else if $padding == $button-large { font-size: $button-font-large; }
}

//
// Used to add color styles
//

@mixin button-style($bg: $primary-color) {
  background-color: $bg;
  color: $button-font-color;
}