// Custom button mixins
// -----------------------------------------------------------------------


//
// Used to create a default button base
//
// $style - Sets base styles if true. Default: true.
// $display - Used to control display property. Default: $button-display || inline-block
//

@mixin button-base($style: true, $display: $button-display, $uppercase: true) {
  @if $style {
    border: $button-border-width $button-border-style $button-border-color;
    cursor: $cursor-pointer-value;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    line-height: normal;
    margin: 0 0 $button-margin-bottom;
    position: relative;
    text-decoration: none;
    text-align: $button-font-align;
    letter-spacing: $button-font-letter-spacing;
    @if $uppercase { text-transform: uppercase; }

  }
  @if $display { display: $display; }
}

//
// Used to add button size styles
//
// $padding - padding size for the button. Default: $button-medium ||= em-calc(18px)

@mixin button-size($padding: $button-medium) {
  padding: ($padding / 2) ($padding * 1.5);

  // font-size is determined based on mixing input
  @if $padding == $button-medium { font-size: $button-font-medium; }
  @else if $padding == $button-small { font-size: $button-font-small; }
  @else if $padding == $button-large { font-size: $button-font-large; }
}

//
// Used to add color styles
//
// $bg - background color of the button. Default: $primary-color
// $disabled - when true, it will add additional styling when in disabled state. Default: false

@mixin button-style($bg: $primary-color, $disabled: false) {
  background-color: $bg;
  color: $button-font-color;

  &:hover,
  &:focus {
    color: $button-font-color;
    background-color: darken($bg, 10%);
  }

  @if $disabled {
    cursor: $cursor-default-value;
    opacity: $button-disabled-opacity;
    @include box-shadow(none);

    &:hover,
    &:focus { background-color: $bg; }
  }
}